header{
    & .top{
        @include displayFlex(space-between,center,row);
        & i{
            position: relative;
            left: 10px;
        }
        & figure{
            margin-top: 5px;
           
            & img{
                width: 200px;
                position: relative;
                right: 50%;
            }
        }
    }
}
aside{
    & img{
        max-width: 424px;
        width: 100vw;
        max-height: 300px;
        height: 100vh;  
    }
}
main{
    background-color: $button-background;
    border-radius: 30px;
    position: relative;
    margin-top: -15%;
    z-index: 2;
    width: 100vw;
    max-width: 424px;

    & .main__header{
        width: 100vw;
        max-width: 400px;
        height: 10vh;
        @include displayFlex(space-between, center, row);

        & h2{
            margin-left: 10px;
        }
        & i{
            position: relative;
            width: 30px;
        }
     
    }
    & .plates{
       

        & .entrees{
            margin-left: 15px;

            & h4{
                font-family: $text-fonts;
                font-weight: map-get($font-weights, regular);
                padding: 30px 0 10px 0;
            }
            & .dishes{
                width: 100vw;
                max-width: 400px;
                height: 50px;
                background-color: $text-white;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 10px;
                font-family: $text-fonts;

                & .plateName{
                    font-weight: map-get($font-weights, bold );
                    font-size: 1.1rem;
                }
                & .platePrice{
                    position: relative;
                    left: 85%;
                    bottom: 30%;
                    width: 30px;
                }
                & p{
                    padding-left: 10px;
                }
            }
        }
    }
}