header{
    & .top{
        @include displayFlex(space-between,center,row);
        & i{
            position: relative;
            left: 10px;
        }
        & figure{
            margin-top: 5px;
            position: relative;
            right: 30%;
           
            & img{
                width: 180px;
            }
        }
    }
}
aside{
    & img{
        max-width: 768px;
        width: 100vw;
        max-height: 350px;
        height: 100vh;  
    }
}
main{
    background-color: $button-background;
    border-radius: 30px;
    position: relative;
    margin-top: -15%;
    width: 100vw;
    max-width: 768px;
    max-height: 950px;
    height: 120vh;
    @include displayFlex(unset, center, column);

    & .main__header{
        width: 100vw;
        max-width: 422px;
        height: 10vh;
        @include displayFlex(space-between, center, row);

        & .fa-stack{
            width: 30px;
            margin-right: 10%;
        }

        & h2{
            margin-left: 10px;
        }
        & i{
            position: absolute;
            margin-left: 10%;
            width: 30px;
        }
        & .fas{
            color: $text-white;
        }
    }
    & .plates{
       max-width: 422px;
       width: 100vw;
       max-height: 850px;
       height: 100vh;
        & .entrees{
            margin-left: 15px;
            & h4{
                font-family: $text-fonts;
                font-weight: map-get($font-weights, regular);
                padding: 30px 0 10px 0;
            }
            & .check{
                width: 100vw;
                max-width: 370px;
                height: 50px;
                background-color: $tertiary-color;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 10px;
                font-family: $text-fonts;
                & i{
                    position: relative;
                    float: right;
                    font-size: 1.5rem;
                    background-color:$tertiary-color;
                    color: $text-white;
                    top: 15px;
                    right: 15px;
                    opacity: 100%;
                    text-align: right;
                    transition: all 1050ms;
                    &:hover{
                        transform: rotate(360deg);
                    }
                }
            }
            & .dishes{
                width: 100vw;
                max-width: 370px;
                height: 50px;
                background-color: $text-white;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 10px;
                font-family: $text-fonts;
                position: relative;
                transition: width 450ms;
                &:hover{
                    width: 325px;
                }
                & .plateName{
                    font-weight: map-get($font-weights, bold );
                    font-size: 1.1rem;
                }
                & .platePrice{
                    position: relative;
                    left: 85%;
                    bottom: 30%;
                    width: 30px;
                }
                & p{
                    padding-left: 10px;
                }
            }
        }
        & input{
            font-family: $text-fonts;
            font-weight: map-get($font-weights , bold );
            font-size: 1rem;
            color: $button-background;
            background-image: $color-btn;
            max-width: 150px;
            width: 100%;
            max-height: 40px;
            height: 100%;
            border-radius: 20px;
            padding: 10px 10px 10px 10px;
            box-shadow: $btn-shadow;
            border: white;
            transform: scale(1);
            transition: transform 400ms;
            margin-left: 30%;
            margin-top: 8%;
            &:hover{
                transform: scale(1.15);
            }

        }
    }
}
footer{
    @include displayFlex(unset, center, column);
}