footer{
    margin-top: 50px;
    background-color: $dark-background;

    & h4{
        color: $text-white;
        font-family: $logo-fonts;
        font-style: italic;
        font-weight: map-get($font-weights, bold);
        font-size: 1.5rem;
        padding: 30px;
    }
    & ul{
        padding: 0 30px 30px 30px; 
    }
}