@import './variables';

@media screen and (max-width: 425px){
    header{
        background-color: white;
        text-align: center;
        & h1{
            text-align: cemter;
            font-family: $logo-fonts;
            font-style: italic;
            font-weight: map-get($font-weights, bold);

        }
        & .restaurantLocation{
            border-top: 2px solid $location-color;
            font-family: $text-fonts;
            font-size: 1.1rem;
            width: 100vw;
            height: 50px;
            background-color: $location-color;
            @include displayFlex(center, center, row);

            & i{
                padding-right: 10px;
            }
        }
        & .restaurantMenu{
            background-color: $button-background;
            & h2{
                padding: 30px;
                font-family: $text-fonts;
                font-weight: map-get($font-weights, bold );
                
            }
            & h4{
                font-family: $text-fonts;
                font-size: 1.2rem;
                font-weight: map-get($font-weights, regular);
                padding-bottom: 25px;
            }
            & button{
                font-family: $text-fonts;
                font-weight: map-get($font-weights , bold );
                font-size: 1rem;
                color: $button-background;
                background: rgb(52,140,142);
                background: linear-gradient(0deg, rgba(52,140,142,1) 0%, rgba(179,72,176,1) 61%);
                width: 200px;
                height: 50px;
                border-radius: 50px;
                cursor: pointer;
            }
        }
    }
}