$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99f2d0;
$location-color: #eaeaea;
$button-background: #f6f6f6;
$dark-background: #353535;

$logo-fonts: shrikhand;
$text-fonts: roboto;

$font-weights:(
    "regular": 300,
    "medium": 500,
    "bold": 900
);

@mixin displayFlex($justContent, $alingItens, $direction) {
    display: flex;
    justify-content: $justContent;
    align-items: $alingItens;
    flex-direction: $direction;
}