*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

@media screen and (max-width: 425px) {
  header {
    background-color: white;
    text-align: center;
  }
  header h1 {
    text-align: cemter;
    font-family: shrikhand;
    font-style: italic;
    font-weight: 900;
  }
  header .restaurantLocation {
    border-top: 2px solid #eaeaea;
    font-family: roboto;
    font-size: 1.1rem;
    width: 100vw;
    height: 50px;
    background-color: #eaeaea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .restaurantLocation i {
    padding-right: 10px;
  }
  header .restaurantMenu {
    background-color: #f6f6f6;
    padding-bottom: 50px;
  }
  header .restaurantMenu h2 {
    padding: 30px;
    font-family: roboto;
    font-weight: 900;
  }
  header .restaurantMenu h4 {
    font-family: roboto;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 30px;
  }
  header .restaurantMenu button {
    font-family: roboto;
    font-weight: 900;
    font-size: 1rem;
    color: #f6f6f6;
    background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
    background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    max-width: 200px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    border: white;
  }
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
  }
  h3 {
    padding: 40px 0 20px 20px;
  }
  .instructions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px;
  }
  .instructions .intructionlbl {
    text-align: center;
    max-width: 320px;
    width: 100vw;
    padding: 20px;
    border-radius: 50px;
    margin-top: 10px;
    background-color: #f6f6f6;
    font-family: roboto;
    font-weight: 500;
  }
}

.main {
  background-color: rosybrown;
  height: 100vh;
  max-width: 800px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */