footer {
  margin-top: 50px;
  background-color: #353535;
}

footer h4 {
  color: white;
  font-family: shrikhand;
  font-style: italic;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 30px;
}

footer ul {
  padding: 0 30px 30px 30px;
  list-style-type: none;
}

footer ul li {
  padding: 3px;
}

footer ul li i {
  padding-right: 15px;
  font-size: 1.2rem;
  color: white;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-family: roboto;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

@media screen and (max-width: 425px) {
  header .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .top i {
    position: relative;
    left: 10px;
  }
  header .top figure {
    margin-top: 5px;
  }
  header .top figure img {
    width: 200px;
    position: relative;
    right: 50%;
  }
  aside img {
    max-width: 424px;
    width: 100vw;
    max-height: 300px;
    height: 100vh;
  }
  main {
    background-color: #f6f6f6;
    border-radius: 30px;
    position: relative;
    margin-top: -15%;
    z-index: 2;
    width: 100vw;
    max-width: 424px;
  }
  main .main__header {
    width: 100vw;
    max-width: 425px;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .main__header h2 {
    margin-left: 10px;
  }
  main .main__header i {
    position: absolute;
    margin-left: 85%;
    width: 30px;
  }
  main .plates .entrees {
    margin-left: 15px;
  }
  main .plates .entrees h4 {
    font-family: roboto;
    font-weight: 300;
    padding: 30px 0 10px 0;
  }
  main .plates .entrees .dishes {
    width: 100vw;
    max-width: 400px;
    height: 50px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: roboto;
  }
  main .plates .entrees .dishes .plateName {
    font-weight: 900;
    font-size: 1.1rem;
  }
  main .plates .entrees .dishes .platePrice {
    position: relative;
    left: 85%;
    bottom: 30%;
    width: 30px;
  }
  main .plates .entrees .dishes p {
    padding-left: 10px;
  }
  main .plates input {
    font-family: roboto;
    font-weight: 900;
    font-size: 1rem;
    color: #f6f6f6;
    background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
    background-image: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    max-width: 150px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    border: white;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
    margin-left: 30%;
    margin-top: 5%;
  }
  main .plates input:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
/*# sourceMappingURL=menus.css.map */